@font-face {
	font-family: 'Alto Pro';
	font-weight: normal;
	font-style: normal;
	src: local('Alto Pro'), url('AltoPro-Normal.otf');
}
@font-face {
	font-family: 'Alto Pro';
	font-weight: bold;
	font-style: normal;
	src: local('Alto Pro Bold'), local('Alto Pro'), url('AltoPro-Bold.otf');
}

body {
	margin: 1em 2em;
	font-family: 'Alto Pro', 'Segoe UI', 'Trebuchet MS', sans-serif;
}
.tm {
	color: #aaa;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

section {
	display: inline-block;
	width: 50%;
}
.then {
	position: fixed;
	height: 100%;
	overflow-y: auto;
}

#key input {
	margin-right: 1.5em;
	outline: none;
}

canvas {
	width: 128px;
	height: 96px;
	background: #e6e6e6;
	/*border: 0.5px solid #bbb;*/
	border-radius: 2px;
}
canvas#main {
	width: 512px;
	height: 384px;
}

.menu {
	margin: 4em 0;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.menu > div {
	vertical-align: top;
	display: inline-block;
}
.menu-heading {
	text-align: center;
	margin-right: 2em;
}
.menu-heading h3 {
	position: relative;
	margin: 0 0 0.5em;
}
.menu-heading h3 input {
	position: absolute;
	left: 0;
}
.menu-list {
	width: 20em;
}

.rekt {
	margin-bottom: 0.25em;
}
.rekt input {
	width: 10%;
	margin: 0;
	vertical-align: middle;
}
.rekt input:target + label {
    background: #ff8;
}
.rekt label {
	display: inline-block;
}
.rekt strong {
	display: inline-block;
	width: 10em;
}
.rekt small {
	box-sizing: border-box;
	vertical-align: middle;
	display: inline-block;
	padding: 1px 4px;
	width: 5.5em;
	font-size: 0.6em;
}

.overlap {
	display: inline-block;
	min-width: 12em;
	color: inherit;
	text-decoration: inherit;
}
.overlap:hover {
	text-decoration: underline;
}
