@font-face {
	font-family: 'Alto Pro';
	font-weight: normal;
	font-style: normal;
	src: local('Alto Pro'), url('fonts/AltoPro-Normal.otf');
}
@font-face {
	font-family: 'Alto Pro';
	font-weight: bold;
	font-style: normal;
	src: local('Alto Pro Bold'), local('Alto Pro'), url('fonts/AltoPro-Bold.otf');
}

html, body {
	height: 100%;
}
body {
	min-width: 1200px;
	margin: 0;
	font-family: 'Alto Pro', 'Segoe UI', 'Trebuchet MS', sans-serif;
}
.tm {
	color: #aaa;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

section {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 1em 2em;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#coords-hover {
	padding: 0.1em 0.3em;
}
#coords-click {
	margin: 0 0.1em;
	padding: 0 0.3em;
	border: 1px solid #aaa;
	font: inherit;
	width: 4em;
}
#coords-click.valid {
	border-color: #ea5;
	outline-color: #ea5;
}
#coords-click.invalid {
	border-color: #d55;
	outline-color: #d55;
}
#coords-click-errors {
	display: none;
	color: #d55;
	font-weight: bold;
}

#key input {
	margin-right: 1.5em;
	outline: none;
}

.layers {
	background: #e6e6e6;
	/*border: 0.5px solid #bbb;*/
	border-radius: 2px;
	position: relative;
}
.layers canvas, .layers img {
	position: absolute;
	left: 0; top: 0;
}
#varia {
	opacity: 0.5;
}
.menu-heading .layers {
	cursor: pointer;
}
.menu-heading .layers, .menu-heading .layers canvas, .menu-heading .layers img {
	width: 128px;
	height: 96px;
}
.then .layers, .then .layers canvas {
	width: 512px;
	height: 384px;
}
.menu-heading .layers:hover canvas { opacity: 0.75; }
.menu-heading .layers img { opacity: 0; }
.menu-heading .layers:hover img { opacity: 1; }

.contrib-image, .contrib-screen {
	font-size: 0.8em;
}

.category h2 {
	margin-top: 2em;
	border-left: 6px solid #bbb;
	padding-left: 0.5em;
	font-weight: normal;
}

.menu {
	margin: 0 0 4em;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.menu > div {
	vertical-align: top;
	display: inline-block;
}
.menu-heading {
	text-align: center;
	margin-right: 2em;
}
.menu-heading h3 {
	position: relative;
	margin: 0 0 0.5em;
}
.menu-heading h3 input {
	position: absolute;
	left: 0;
}
.menu-heading h3 label {
	display: block;
}
.menu-list {
	width: 20em;
}

.rekt {
	margin-bottom: 0.25em;
}
.rekt input {
	width: 10%;
	margin: 0;
	vertical-align: middle;
}
.menu input:target + label {
	background: #ff8;
}
.rekt label {
	display: inline-block;
}
.rekt strong {
	display: inline-block;
	width: 10em;
}
.rekt small {
	box-sizing: border-box;
	vertical-align: middle;
	display: inline-block;
	padding: 1px 4px;
	width: 5.5em;
	font-size: 0.7em;
}

.permalink a:link, .permalink a:visited {
	color: #aaa;
}
.permalink {
	font-weight: normal;
	display: inline-block;
	vertical-align: bottom;
	width: 0;
	overflow: hidden;
}
label:hover .permalink {
	overflow: visible;
}

.refs {
	font-size: 0.8em;
	color: #888;
}
.refs .triangle {
	margin-left: 10%;
	margin-right: 0.2em;
}
.refs .NEW, .refs .END {
	font-weight: bold;
}
.refs .NEW {
	color: #b55;
}
.refs .END {
	color: #5b5;
}

.overlap {
	display: inline-block;
	min-width: 12em;
}

a:link, a:visited {
	color: #24b;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

body.grid-disabled #grid {
	display: none;
}
body.rekt-small-disabled .rekt small {
	width: 1.5em;
	height: 1.5em;
}
body.rekt-small-disabled .rekt small > span {
	display: none;
}
body.refs-disabled .refs {
	display: none;
}
